body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e1e2f;
    color: #ffffff;
    text-align: center;
}

h1 {
    color: #ffd369;
    font-size: 2.5rem;
}

#formular {
    margin-top: 20px;
}

input {
    width: 160px;
    padding: 10px;
    margin: 5px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
}

button {
    width: 60px;
    height: 45px;
    margin: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #3a86ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #265dc4;
}

#vysledek {
    margin-top: 20px;
    font-size: 1.5rem;
    min-height: 40px;
    color: #00ffab;
}
