body {
  background-color: slateblue;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3  {
  color: white;
  text-align: center;
}

p {
  color: lightgray;
  font-family: verdana;
  font-size: 20px;
}
